<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <div class="main-content">
            
            <img src="/img/weather_report4.jfif"  class="portrait"/>
            <p>
                This site was created by HB. </br>
                Weather forecasting is very necessary for our daily lives. It helps us to prepare and make plans depending on the expectations. 
                Many weather stations are placed around the world fetching real-time weather elements’ data. </br></br>
            </p>
            <p>
                This application shows the details regarding Weather of Location which is searched by User. </br></br>
                It collect the data from two diffrent website and gives you the current Weather condition / details of Location at one place.
                This data includes six elements, such as location, precipitation, wind, atmospheric pressure, cloudiness, and temperature.
            </p>
        </div>
        
        {{>footer}}
    </body>
</html>