<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <div class="main-content">
            
            <img src="/img/weather_report4.jfif"  class="portrait"/>
            <p>
                This site was created by HB. </br>
                It shows the details regarding Weather of Location which is searched by User. </br>
                It collect the data from two diffrent website and gives you the current Weather condition / details of Location at one place.

            </p>
        </div>
        
        {{>footer}}
    </body>
</html>