<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         {{>header}}
        <div class="main-content">
           
            <!---<img src="/img/weather_report4.jfif"  class="portrait"/>--->
            <h2>{{helpText}}</h2>
            <div class="helpContent">
                <div class="questions">
                    <h3>Frequently asked questions</h3>
                    <ol>
                        <li>
                            <a href="">
                                I need specific, recent weather information. How can I get that?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                I need weather information for a court case. How do I get it?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                Where can I get information on a specific major storm?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                What sources of climate information are available?
                            </a>        
                        </li></br></br>
                        <li>
                            <a href="">
                                How can I find out how many lightning storms affect various parts of the country?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                Does climate change in cycles?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                Where is the GraphiCast/Enhanced page?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                link doesn't work. Should I send you an e-mail about that?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                The current weather observation, given on the forecast page, shows "NULL" instead of the weather conditions. Why?
                            </a>
                        </li></br></br>
                        <li>
                            <a href="">
                                There is an error on this site. Should I e-mail you to let you know?
                            </a>
                        </li>
                    </ol> 
                </div>
                <div class="contactUs">
                    <h3>Contact US</h3>
                    <p>Tell us about the challenges you face and let us offer some suggestions you may not have thought
                        about. A Rishabh Software customer solutions specialist will address your query and respond promptly.
                    </p>
                    <hr>
                    <div>
                        <h4>Through Email</h4>
                        <p>
                            Please, tell us how we can help, send your request for support to <a href=""> support@rishabhsoft.com </a> and be sure to include your complete company name
                            and contact information. Email requests are typically answered within 24 business hours.
                        </p>
                    </div>
                    <hr>
                    <div>
                        <h4>Through Telephone</h4>
                        <p>
                            You can also contact us on our customer care number <a href=""> 0123456789 </a>  in business hours.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
       {{>footer}}
    </body>
</html>