
<header>
    <div class="menubar">
        <div class="logo">
           <img src="/img/rslogo.png"  />
           <!-- <img src="/img/weather_report4.jfif" /> -->
        </div>
        <div class="menu">
            <a href="/">Weather</a>
            <a href="/about"> About </a>
            <a href="/help"> Help </a>
        </div>
        <div>
        <h1>{{title}}</h1>
        <!-- <img src="/img/weather_report4.jfif" /> -->
    </div>
    </div>
   
</header>